*{
    margin-right: 0;
    padding: 0;
}

body{
    /* overflow-x: hidden; */
}

.img{
    background-image: url('vector.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
    height: 100vh;
}

.title{
    font-size: 4vw;
    color: white;
    font: bold;
    text-align: left;
    position: relative;
    top: 180px;
    left: -60px;
}

.responsive{
    max-width: 100%;
    height: auto;
    position: relative;
    top: 70px;
    left: -100px;
}

em{
    font-size: 3vw;
}

@media (max-width: 1065px) {
    .title{
        position: relative;
        top: 170px;
        left: 2px;
    }
}

@media (max-width: 420px) {
    .title{
        position: relative;
        text-align: center;
        top: 100px;
        left: 0px;
        font-size: 12vw;
    }

    em{
        font-size: 6vw;
    }

    .responsive{
        position: relative;
        padding: 50px;
        left: 20px;
        width: 100vw;
    }
}
